DB_HOST=YOUR_VALUE
DB_PORT=YOUR_VALUE
DB_NAME=YOUR_VALUE
DB_USER=YOUR_VALUE
DB_PASSWORD=YOUR_VALUE
DB_SSL_CA=YOUR_VALUE
AWS_ACCESS_KEY_ID=YOUR_VALUE
AWS_SECRET_ACCESS_KEY=YOUR_VALUE
AWS_REGION=YOUR_VALUE
S3_BUCKET_NAME=YOUR_VALUE
